<!DOCTYPE html>
{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        img {
            padding: 5px;
            border: 5px solid #000000;
            border-style: ridge;
            background-color: #FF0000;
            margin-left: 0px;
            border-radius: 15px 50px 800px 5px;
            margin-right: 77px;
        }

    </style>
</head>
<body style="background-color:rgba(0, 148, 255, 0.2);" >
    
    <center><h1><b><u><FONT face="serif">NOS DIFFERENTS PRODUITS</FONT></u></b></h1></center>
    <h2>.......................................................................................................................................................</h2>

    <br />
    <br />
    {% load static %}




    <img src='https://i.pinimg.com/originals/7f/44/cd/7f44cd5e71a4c6e31e29d42b53f28ee4.jpg' %} height="300" width="300">
    <img src='https://i.pinimg.com/originals/ab/24/bc/ab24bc8856ba5e93fd944adf05169ed0.jpg' %} height="300" width="300">
    <img src='https://i.pinimg.com/originals/03/72/80/03728080edc73b7364cabcaf37a29ca5.png' %} height="300" width="300">


</body>
{% endblock %}

